body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;

  color: #283136;
  background: white;
}

.header {
  padding-top: 25px;

  background: #eee;
}
.layout-center-wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}

.menu {
  float: left;

  padding-top: 25px;

  font-size: 14px;
}
.menu ul > li {
  display: inline;

  margin-right: 40px;

  font-size: 14px;
  font-weight: 500px;
}

.menu ul > li > .active {
  border-bottom: 2px solid red;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;

  color: black;
}

.slides {
  margin-bottom: 70px;
  padding-top: 30px;
}

/* Хэдер */
nav a:hover {
  color: #fb565a;
}

nav a:active {
  color: #bcbcbc;
}

nav li:first-child a {
  margin-left: 10px;
}

nav li:last-child {
  margin-right: 0;
}

.logo,
nav {
  display: inline-block;
  float: left;

  vertical-align: bottom;
}
.cart {
  margin-left: 30px;
}

.slides-title {
  width: 480px;
  margin-right: 55px;
  padding-top: 75px;

  font-size: 1;

  vertical-align: top;
}
/* Слайдер*/
.slider {
  position: relative;

  width: 880px;
  height: 310px;
  margin: 0 auto;

  background: #eee;
}
.slider input[type=radio] {
  position: absolute;

  opacity: 0;
}
.slider-controls {
  position: absolute;
  z-index: 1000;
  bottom: 95px;
  left: 50%;

  width: 200px;
  height: 10px;
  margin-left: -100px;

  text-align: center;
}
.slider-controls label {
  display: inline-block;

  width: 4px;
  height: 4px;
  margin: 0 3px;

  cursor: pointer;
  vertical-align: top;

  border: 3px solid white;
  border-radius: 50%;
  background: white;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 100%;
  height: 100%;
}
.slide-text {
  width: 380px;
  padding: 30px 0;

  color: #283136;
}
.slide-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;

  color: black;
}
.slide .btn {
  display: block;

  width: 240px;
  margin-top: 25px;
  padding: 10px 0;

  font-size: 12px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: white;
  border-radius: 3px;
  background: #fb565a;
}
.slide:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}
.slide:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}
.slide:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.slide {
  display: none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}


/* Слайдер*/
.slides-title p {
  margin-bottom: 30px;
  padding-right: 45px;

  line-height: 22px;

  color: grey;
}

/* Веб сайты / приложения / Презентации */

.feature-row {
  margin-top: 80px;
  padding-bottom: 80px;

  border-bottom: 2px solid #eee;
}

.feature-item {
  display: inline-block;
  vertical-align: top;

  width: 240px;
  margin-right: 80px;
}

.feature-item:last-child {
  margin-right: 0;
}

.figure-discriptuon {
  margin-bottom: 26px;

  line-height: 20px;
}

.main-content {
  width: 900px;
  margin: 0 auto;

  text-align: left;
}
.clearfix:after {
  display: table;
  clear: both;

  content: " ";
}

/*Каталог*/
.welcome-catalog {
  padding-top: 80px;
  padding-bottom: 80px;

  font-size: 40px;
  font-weight: 100px;
  line-height: 48px;

  text-align: center;
  word-spacing: 10px;
  text-transform: uppercase;

  color: black;
}
.filter-column {
  float: left;

  width: 250px;
  margin-right: 80px;
}
.catalog-column {
  float: left;

  width: 550;
}
.filter-subtitle {
  margin-bottom: 15px;

  font-size: 18px;
  font-weight: 500px;
  line-height: 30px;

  word-spacing: 10px;
  text-transform: uppercase;

  color: black;
}
.range-filter {
  width: 240px;
  margin-bottom: 45px;
}
.range-controls {
  position: relative;

  overflow: hidden;

  height: 80px;
  margin-bottom: 15px;
  padding: 0 30px;

  border-radius: 5px;
  background: #f1f1f1;
}
.range-controls .scale {
  height: 2px;
  margin-top: 39px;

  background: #d7dcde;
}
.range-controls .bar {
  height: 2px;

  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 30px;

  width: 4px;
  height: 4px;

  cursor: pointer;

  border: 8px solid white;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .min-toggle {
  left: 10px;
}
.range-controls .max-toggle {
  left: 120px;
}
.price-controls input {
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;

  text-align: center;

  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
.price-controls .min-price {
  margin-right: 14px;
}
.price-controls {
  white-space: nowrap;
}
.filter {
  margin-bottom: 35px;
}
.filter-row {
  position: relative;

  margin-bottom: 20px;
  padding-left: 35px;
}
.filter-row label {
  line-height: 20px;

  color: #283136;
}
.sort-title {
  float: left;

  margin-bottom: 25px;
  padding-top: 4px;

  font-size: 12px;
  font-weight: 500;
  line-height: 18px;

  text-transform: uppercase;

  color: black;
}


.sort a {
  display: inline-block;

  margin: 0 5px 0 40px;

  font-size: 12px;
  font-weight: 500;
  line-height: 18px;

  text-decoration: none;
  text-transform: uppercase;

  color: #ddd;
  border-bottom: 1px dotted #03ca74;
}

.catalog-items {
  font-size: 0;
}
.catalog-row {
  margin-left: 80px;
}
.item-catalog {
  position: relative;

  display: inline-block;

  margin-bottom: 80px;
  margin-left: 80px;
}
.cap {
  width: 220px;
  height: 10px;
  padding: 10px;

  border-radius: 3px 3px 0 0;
  background: #f1f1f1;
}
.hole {
  display: inline-block;

  width: 4px;
  height: 4px;
  margin-right: 7px;

  border: 3px solid white;
  border-radius: 50%;
  background: white;
}
.item-catalog .actions {
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 20px;

  display: none;

  width: 140px;
  padding: 35px 30px 30px;

  background: white;
}
.item-catalog:hover .actions {
  display: block;
}
.item-catalog:hover .cap {
  background: #797979;
}
.actions .item-title {
  width: 140px;
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: 500;
  line-height: 8px;

  text-align: center;
  word-spacing: 10px;
  text-transform: uppercase;

  color: black;
}
.actions .item-description {
  width: 140px;
  margin-bottom: 30px;

  font-size: 14px;
  font-weight: 300;
  line-height: 18px;

  text-align: center;
  word-spacing: 0;

  color: #283136;
}
.btn-item {
  width: 140px;
  padding: 10px 0;

  text-align: center;

  color: white;
}

/* Как мы работаем */

.about-left {
  float: left;

  width: 560px;
  padding: 10px 0;
}
.about-right {
  float: right;

  width: 240px;
  padding: 3px;
}
.three-column {
  text-align: center;
  border-bottom: 2px solid #eee;
  font-size: 0;
  padding: 30px 0;
}

.column{
  display: inline-block;
  vertical-align: middle;
  opacity: .5;
}

.column:hover{
  opacity: 1;
}

.column:nth-child(2){
  margin: 0 90px;
}

.about-us {
  margin-top: 20px;
  padding-bottom: 80px;

  border-bottom: 2px solid #eee;
}

.feature-title {
  margin-top: 20px;
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: 500px;
  line-height: 30px;

  text-transform: uppercase;

  color: black;
}
.about-us h2 {
  margin-bottom: 15px;

  font-size: 10px;
  font-weight: 500px;

  text-transform: uppercase;
}
.about-features {
  padding-left: 40px;
}

.feature-description {
  margin-bottom: 25px;
}

.about-title {
  margin-bottom: 20px;

  font-size: 36px;
  font-weight: 500px;
  line-height: 36px;

  color: black;
}

.description {
  margin-bottom: 43px;
}

/* Форма */
.form-area {
  position: absolute;

  margin: 100px 0;
  margin-left: 150px;
  padding: 25px 20px;

  background: white;
}
.form-title {
  margin-bottom: 10px;

  font-weight: 300;
  line-height: 30px;

  word-spacing: 10px;
  text-transform: uppercase;

  color: black;
}
.form-title span {
  font-weight: 500;
}
.form-area address {
  margin-bottom: 20px;

  line-height: 20px;

  color: #666;
}

.phone {
  margin-bottom: 30px;

  line-height: 20px;

  color: #666;
}

.map {
  position: relative;

  width: 1200px;
  height: 400px;
  margin: 85px auto 0;
}
.footer {
  padding: 80px 10 px;
}
.social-button {
  float: left;
}
.footer-text {
  float: right;
}
/* Кнопочки буду делать кнопочки ( не удалось задать общий стиль для кнопок ,btn . Поэтому прописываю каждую кнопку отдельно 1.узнать больше ) */
.btn-orange {
  display: inline-block;

  padding: 13px 40px;

  font-size: 12px;
  font-weight: 500;

  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border-radius: 3px;
}
.btn-orange {
  background-color: #fb565a;
}
.btn-orange:hover {
  background-color: #d6494d;
}
.btn-orange:active {
  background-color: #b63538;
}
/* Заказать веб сайты */
.btn-figure {
  display: inline-block;

  padding: 13px 40px;

  font-size: 12px;
  font-weight: 500;

  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border-radius: 3px;
}
.btn-figure {
  background-color: #fb565a;
}
.btn-figure:hover {
  background-color: #d6494d;
}
.btn-figure:active {
  background-color: #b63538;
}
/* Заказать приложения */
.btn-figure-2 {
  display: inline-block;

  padding: 13px 40px;

  font-size: 12px;
  font-weight: 500;

  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border-radius: 3px;
}
.btn-figure-2 {
  background-color: #00ca74;
}
.btn-figure-2:hover {
  background-color: #01a25e;
}
.btn-figure-2:active {
  background-color: #009053;
}
/* Заказать презентации */
.btn-figure-3 {
  display: inline-block;

  padding: 13px 40px;

  font-size: 12px;
  font-weight: 500;

  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border-radius: 3px;
}
.btn-figure-3 {
  background-color: #efc84a;
}
.btn-figure-3:hover {
  background-color: #d6ae2c;
}
.btn-figure-3:active {
  background-color: #c09b24;
}

/*Основный текст внутри блоков с заказать */
.figure {
  padding: 30px 0;

  font-size: 18px;

  text-transform: uppercase;
}
/*не замерял размер шрифта в описании на глаз */
.figure-discriptuon {
  font-size: 15px;

  color: black;
}
.pict {
  float: right;
}
/*я знаю так нельзя но что то с контейнером проблемы */
.slider-container {
  width: 1200px;
  margin-left: 500px;
  padding: 200px;
}


/* кастомные списки */
.content-ul{
  list-style: none;
}

.content-ul li{
  position: relative;
  padding-left: 25px;
}

.content-ul li::before{
  content: "";
  width: 10px;
  height: 2px;
  background: red;
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
}