body {
	background: white;	
}

.header {
	background: red;
	padding-top: 20px;
}
.logo {
	float: left;
}
.menu {
	float:left;
	padding-top: 20px;
	margin-left: 170px;
}
.cart {
	float: right;
	background: pink;

}
.slides {
	padding-top: 30px;
	margin-bottom: 70px;
	background: orange;

}
.feature-row {
	background: orange;
	display: inline-table;
}
