.main-content {
	background: grey;
}
header{ 
	padding-top: 25px; }
.logo {
min-width: 280px;
background: red;
  }
.menu{
display:inline-block;
background:black;

}

.nav a{
	font-size: 14px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	display: inline-block
}

nav a:hover{ color: #fb565a; }

nav a:active{ color: #bcbcbc; }

nav li:first-child a{ margin-left: 10px; }

nav li:last-child{ margin-right: 0; }

.logo, nav{ 
display: inline-block; vertical-align: bottom;
} 
.cart {
	padding-right: 0;
	padding-left: 25px;
	position: relative;

}
.cart-icon:before{
	font-family: "symbols-nerds";
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	text-transform: none;
	color: #bcbcbc;
}
.cart:hover .cart-icon:before{ 
	color: #fb565a; 
}

.cart:active .cart-icon:before{ 
	color: #bcbcbc;
 }
 .slides-title {
 	width: 480px; 
	vertical-align: top;
	padding-top: 75px;
	margin-right: 55px;
	font-size: 1;
	color:orange;
 }

.slides-title p {

	line-height: 22px;
	margin-bottom: 30px;
	padding-right: 45px;
	color: grey;
 }
 .feature-row {
 	padding-bottom: 80px;
 }
 .feature-item {
 	margin-right: 80px;
 }
.feature-item:last-child {
	margin-right: 0px;
}
.figure-discriptuon {
	margin-bottom: 26px;
	line-height: 20px;
}

 .main-content{
	width: 900px;
	margin: 0 auto;
	text-align: left; 	
}
.clearfix:after{ 
	content: " "; 
	display: table; 
	clear: both; 
}
.feature {
	float: left
}
.feature-item {
	width: 240px;
	background: green;
	display: inline-block;
}
.about-left {
	width: 560px;
	padding: 10px 0;
	background: orange;
	float: left;
}
.about-right { 
	width: 240px;
	padding: 3px;
	background: blue;
	float: right;
}
.three-column {
	width: 100%;
	background: black;
	display: inline-block;
}

.map{
width: 1200px;
}
.form-area {
   display: inline-block;
   background-color: blue;
   position: absolute; 

}
.footer {
	padding: 80px 10 px; 
}
.social-button {
	float: left;
}
.footer-text {
	float:right;
}
/* Кнопочки буду делать кнопочки ( не удалось задать общий стиль для кнопок ,btn . Поэтому прописываю каждую кнопку отдельно 1.узнать больше ) */
.btn-orange{
	display: inline-block;	
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	border-radius: 3px;	
	padding: 13px 40px;	
}
.btn-orange{ 
	background-color: #fb565a; 
}
.btn-orange:hover{
	background-color: #d6494d;
}
.btn-orange:active{
	background-color: #b63538; 
}
/* Заказать веб сайты */
.btn-figure {
	display: inline-block;	
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	border-radius: 3px;	
	padding: 13px 40px;	
}
.btn-figure{ 
	background-color: #fb565a; 
}
.btn-figure:hover{
	background-color: #d6494d;
}
.btn-figure:active{
	background-color: #b63538; 
}
/* Заказать приложения */
.btn-figure-2 {
		display: inline-block;	
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	border-radius: 3px;	
	padding: 13px 40px;	
}
.btn-figure-2{
	background-color: #00ca74;
}
.btn-figure-2:hover{
	background-color: #01a25e;
}
.btn-figure-2:active{
	background-color: #009053;btn-figure-2
}
/* Заказать презентации */
.btn-figure-3 {
	display: inline-block;	
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	border-radius: 3px;	
	padding: 13px 40px;	
}
.btn-figure-3{
	background-color: #efc84a;
}
.btn-figure-3:hover{
	background-color: #d6ae2c;
}
.btn-figure-3:active{
	background-color: #c09b24;




/*Основный текст внутри блоков с заказать */
.figure{
font-size: 18px;
padding: 30px 0;
text-transform: uppercase;
}
/*не замерял размер шрифта в описании на глаз */
.figure-discriptuon {
	color:black;
	font-size: 15px;
}
.pict{
	float: right;
}
/*я знаю так нельзя но что то с контейнером проблемы */
.slider-container{
background: #eee;
padding-top: 35px;
margin-bottom: 80px;
	}
